@page "/admin/booking"
@model BookingModel
@{
    ViewData["Title"] = "Trang chủ";
}

@if (TempData["ErrorApiException"] != null)
{
    <br />
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorApiException"]
    </div>
}
else
{
    <div class="container vh-100 d-flex justify-content-center align-items-center mt-3">
        <div class="row w-100">
            <!-- Cột 1: Form Tìm Kiếm -->
            <div class="col-md-6 mb-3">
                <div class="card shadow">
                    <div class="card-body">
                        <form method="get">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="searchInput" name="SearchInput" placeholder="Nhập mã đơn đặt phòng" required>
                                </div>
                            <div class="form-group text-center mb-0">
                                <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Cột 2: Form Lọc Trạng Thái Phòng -->
            <div class="col-md-6 mb-3">
                <div class="card shadow">
                    <div class="card-body">
                        <form method="get">
                            <div class="form-group">
                                <select class="form-control" id="filterStatus" name="FilterStatus">
                                    <option value="pending">Đang chờ</option>
                                    <option value="confirmed">Đã xác nhận</option>
                                    <option value="checkedin">Đã nhận phòng</option>
                                    <option value="checkedout">Đã trả phòng</option>
                                </select>
                            </div>
                            <div class="form-group text-center mb-0">
                                <button type="submit" class="btn btn-success">Lọc</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <button type="button" class="btn btn-success m-3" data-toggle="modal" data-target="#addBookingModal">
        Đặt phòng 
    </button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Họ tên</th>
                <th>Ngày Check-in dự kiến</th>
                <th>Ngày Check-out dự kiến</th>
                <th>Số lượng phòng</th>
                <th>Số phòng</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model.BookingList)
            {
                <tr>
                    <td>@booking.GuestLastName @booking.GuestFirstName</td>
                    <td>@booking.ExpectedCheckinDate.ToString("dd/MM/yyyy")</td>
                    <td>@booking.ExpectedCheckoutDate.ToString("dd/MM/yyyy")</td>
                    <td>@booking.RoomQuantity</td>
                    <td>@booking.RoomNumber</td>
                    <td>@booking.BookingStatus.GetDisplayName()</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#bookingDetailSelectionModal-@booking.BookingId">
                            Chi tiết
                        </button>
                        @if (booking.BookingStatus == BookingStatus.CheckedIn)
                        {
                            <button type="button" class="btn btn-outline-success btn-sm ml-3" data-toggle="modal" data-target="#serviceSelectionModal-@booking.BookingId">
                                Thêm dịch vụ
                            </button>
                        }
                    </td>
                </tr>

                //chi tiet booking
                <div class="modal fade" id="bookingDetailSelectionModal-@booking.BookingId" tabindex="-1" role="dialog" aria-labelledby="bookingDetailSelectionModal" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="bookingDetailSelectionModalLabel">Thông tin đặt phòng</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <input type="hidden" id="bookingId" name="BookingId" value="@booking.BookingId" hidden readonly />

                                        <label for="bookingCode">Mã đơn đặt</label>
                                        <input class="form-control" type="text" id="bookingCode" name="BookingCode" value="@booking.BookingCode" readonly />

                                        <label for="guestFirstName">Họ Tên</label>
                                        <input class="form-control" type="text" id="guestLastName" name="GuestLastName" value="@booking.GuestLastName @booking.GuestFirstName" readonly />

                                        <label for="typeName">Loại phòng đặt</label>
                                        <input class="form-control" type="text" id="typeName" name="TypeName" value="@booking.TypeName" readonly />

                                        <label for="expectedCheckinDate">Ngày check-in dự kiến</label>
                                        <input class="form-control" type="date" id="expectedCheckinDate" name="ExpectedCheckinDate" value="@booking.ExpectedCheckinDate.ToString("yyyy-MM-dd")" readonly />

                                        <label for="expectedCheckoutDate">Ngày check-out dự kiến</label>
                                        <input class="form-control" type="date" id="expectedCheckoutDate" name="ExpectedCheckoutDate" value="@booking.ExpectedCheckoutDate.ToString("yyyy-MM-dd")" readonly />

                                        <label for="bookingStatus">Trạng thái</label>
                                        <input class="form-control" type="text" id="bookingStatus" name="BookingStatus" value="@booking.BookingStatus.GetDisplayName()" readonly />
                                    
                                    </div>
                                    <div class="col-md-6">
                                        <label for="checkinDate">Ngày check-in thực tế</label>
                                        <input class="form-control" type="datetime-local" id="checkinDate" name="CheckinDate" value="@(booking.CheckinDate.HasValue ? booking.CheckinDate.Value.ToString("yyyy-MM-ddTHH:mm") : string.Empty)" readonly />

                                        <label for="checkoutDate">Ngày check-out thực tế</label>
                                        <input class="form-control" type="datetime-local" id="checkoutDate" name="CheckoutDate" value="@(booking.CheckoutDate.HasValue ? booking.CheckoutDate.Value.ToString("yyyy-MM-ddTHH:mm") : string.Empty)" readonly />

                                        <label for="roomQuantity">Số phòng đặt</label>
                                        <input class="form-control" type="number" id="roomQuantity" name="RoomQuantity" value="@booking.RoomQuantity" readonly />

                                        <label for="totalPrice">Tổng tiền phòng</label>
                                        <input class="form-control" type="text" id="totalPrice" name="TotalPrice" value="@((booking.TotalPrice.HasValue ? booking.TotalPrice.Value.ToString("N0") : ""))" readonly />
                                    </div>


                                    @if (booking.BookingStatus == BookingStatus.Pending)
                                    {
                                        <button type="button" class="btn btn-primary m-2 ml-3" data-toggle="modal" data-target="#roomSelectionModal-@booking.BookingId">
                                            Tìm phòng
                                        </button>
                                    }
                                    else if (booking.BookingStatus == BookingStatus.Confirmed)
                                    {
                                        <form method="post" asp-page-handler="CheckinBooking">
                                             <input type="hidden" name="BookingId" value="@booking.BookingId" hidden readonly />
                                             <input type="hidden" name="GuestId" value="@booking.GuestId" hidden readonly />
                                            <button type="submit" class="btn btn-outline-success m-2 ml-3">Checkin</button>
                                        </form>
                                    }
                                    else if (booking.BookingStatus == BookingStatus.CheckedIn)
                                    {
                                        <button type="button" class="btn btn-outline-warning m-2 ml-3" data-toggle="modal" data-target="#checkoutSelectionModal-@booking.BookingId">
                                            Checkout
                                        </button>
                                    }

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                //tim phong trong
                <div class="modal fade" id="roomSelectionModal-@booking.BookingId" tabindex="-1" role="dialog" aria-labelledby="roomSelectionModalLabel" aria-hidden="true">
                    <div class="modal-dialog " role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="roomSelectionModalLabel">Lựa chọn phòng trống</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- Form to choose available room -->
                                <form method="post" asp-page-handler="ConfirmBooking">
                                    <div class="form-group">
                                        <input type="hidden" id="bookingId" name="BookingId" required value="@booking.BookingId" hidden readonly>
                                        <label for="room">Số phòng:</label>
                                        @for (var number = 0; number < booking.RoomQuantity; number++)
                                        {
                                            <br />
                                            <select class="form-control" id="room_@number" name="RoomIds[]">
                                                @foreach (var room in Model.RoomList)
                                                {
                                                    @if (booking.TypeId == room.TypeId && room.StatusId == Guid.Parse("3ad2b5c4-cd33-42f1-a030-53a0a213f791"))
                                                    {
                                                        <option value="@room.RoomId">@room.Number</option>
                                                    }
                                                }
                                            </select>
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                //them service cho booking
                <div style="z-index: 1050;" class="modal fade" id="serviceSelectionModal-@booking.BookingId" tabindex="-1" role="dialog" aria-labelledby="serviceSelectionModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="serviceSelectionModalLabel">Thêm dịch vụ khách sử dụng</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    @foreach (var service in Model.ServiceList)
                                    {
                                        <div class="col-md-3 text-center">
                                            <img src="data:@service.ContentImage;base64,@(service.ServiceImage != null ? Convert.ToBase64String(service.ServiceImage) : "")"
                                                 class="img-thumbnail service-image"
                                                 alt="@service.ServiceName.ServiceNameTranslate()"
                                                 data-toggle="modal"
                                                 data-target="#serviceModal-@service.ServiceId"
                                                 style="cursor: pointer; width: 200px; height: 150px; object-fit: cover;" />
                                            <p>@service.ServiceName.ServiceNameTranslate()</p>
                                        </div>
                                    }
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                
                @foreach (var service in Model.ServiceList)
                {
                    <div style="z-index: 1060;" class="modal fade" id="serviceModal-@service.ServiceId" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="serviceModalLabel">Thêm Dịch vụ: @service.ServiceName</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" asp-page-handler="AddService">
                                        <input type="hidden" name="BookingId" value="@booking.BookingId" />
                                        <input type="hidden" name="ServiceId" value="@service.ServiceId" />

                                        <div class="form-group">
                                            <label for="serviceNumber-@service.ServiceId">Số lượng</label>
                                            <input type="number" class="form-control" id="serviceNumber-@service.ServiceId" name="ServiceNumber" required>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-success">Thêm</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
                //checkout booking
                <div class="modal fade" id="checkoutSelectionModal-@booking.BookingId" tabindex="-1" role="dialog" aria-labelledby="checkoutSelectionModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="roomSelectionModalLabel">Xác nhận checkout</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="hidden" id="bookingId" name="BookingId" value="@booking.BookingId" hidden readonly />
                                </div>
                                <form method="post" asp-page-handler="CheckoutBooking">
                                    <input type="hidden" id="bookingId" name="BookingId" required value="@booking.BookingId" hidden readonly>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item @(Model.BookingPage.PageNumber == 1 ? "disabled" : "")">
                    <a class="page-link" 
                        asp-route-pageNumber="@(Model.BookingPage.PageNumber - 1)"
                        asp-route-FilterStatus="@Model.Filter" 
                    >&laquo;</a>
                </li>
                @for (int i = 1; i <= Model.BookingPage.TotalPages; i++)
                {
                    <li class="page-item @(Model.BookingPage.PageNumber == i ? "active" : "")">
                        <a class="page-link" asp-route-pageNumber="@i"
                            asp-route-FilterStatus="@Model.Filter" >
                            @i
                        </a>
                    </li>
                }
                <li class="page-item @(Model.BookingPage.PageNumber == Model.BookingPage.TotalPages ? "disabled" : "")">
                    <a class="page-link" 
                        asp-route-pageNumber="@(Model.BookingPage.PageNumber + 1)"
                            asp-route-FilterStatus="@Model.Filter" >
                        &raquo;
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="modal fade" id="addBookingModal" tabindex="-1" role="dialog" aria-labelledby="addBookingModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addBookingModalLabel">Đặt phòng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-page-handler="AddBooking">
                        <div class="form-group row">
                            <div class="col-md-6 r">
                                <div class="mb-3">
                                    <label for="phoneNumber" class="form-label">Số điện thoại khách hàng</label>
                                    <input type="text" class="form-control" id="phoneNumber" name="PhoneNumber" required>
                                </div>
                                <div class="mb-3">
                                    <label for="lastName" class="form-label">Họ khách hàng</label>
                                    <input type="text" class="form-control" id="lastName" name="LastName" required>
                                </div>
                                <div class="mb-3">
                                    <label for="firstName" class="form-label">Tên khách hàng</label>
                                    <input type="text" class="form-control" id="firstName" name="FirstName" required>
                                </div>
                                <div class="mb-3">
                                    <label for="dateofBirth" class="form-label">Ngày sinh</label>
                                    <input type="date" class="form-control" id="dateofBirth" name="DateofBirth" required>
                                </div>
                                <div class="mb-3">
                                    <label for="address" class="form-label">Địa chỉ</label>
                                    <input type="text" class="form-control" id="address" name="Address" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="roomType" class="form-label">Loại phòng</label>
                                    <select class="form-control" id="roomType" name="RoomType">
                                        <option value="1b0b63e1-96de-4ca8-8fc2-82a319bb896a">Phòng Deluxe King</option>
                                        <option value="54b8d4d6-c9c6-4cbb-85eb-2f41d516cedf">Phòng Deluxe Twin</option>
                                        <option value="da78d03e-7c63-43eb-847c-8683c2e6545b">Phòng Deluxe Triple</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="roomQuantity" class="form-label">Số phòng đặt</label>
                                    <input type="number" class="form-control" id="roomQuantity" name="RoomQuantity" required>
                                </div>
                                <div class="form-group">
                                    <label for="expectedCheckInDate">Ngày nhận phòng</label>
                                    <input type="date" class="form-control" id="expectedCheckInDate" name="ExpectedCheckInDate" required>
                                </div>
                                <div class="form-group">
                                    <label for="expectedCheckOutDate">Ngày trả phòng</label>
                                    <input type="date" class="form-control" id="expectedCheckOutDate" name="ExpectedCheckOutDate" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Đặt</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
}
