@page "/admin/guest"
@model GuestModel
@{
    ViewData["Title"] = "Trang chủ";
}
@if (TempData["ErrorApiException"] != null)
{
    <br />
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorApiException"]
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Họ tên</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Ngày sinh</th>
                <th>Địa chỉ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var guest in Model.GuestList)
            {
                @if(guest.IsActive == true)
                {
                    <tr>
                        <td>@guest.LastName @guest.FirstName</td>
                        <td>@guest.Phone</td>
                        <td>@guest.Email</td>
                        <td>@guest.DateofBirst.ToString("dd/MM/yyyy")</td>
                        <td>@guest.Address</td>
                    </tr>
                } 
            }
        </tbody>
    </table>
}

