@page "/admin/invoice"
@model InvoiceModel
@{
    ViewData["Title"] = "Trang chủ";
}

@if (TempData["ErrorApiException"] != null)
{
    <br />
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorApiException"]
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Họ tên</th>
                <th>Số phòng</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var invoice in Model.InvoiceViewList)
            {
                <tr>
                    <td>@invoice.GuestName</td>
                    <td>@invoice.RoomNumber</td>
                    <td>@invoice.InvoiceStatus.GetDisplayName()</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#invoiceDetailSelectionModal-@invoice.InvoiceId">
                            Chi tiết
                        </button>
                    </td>
                </tr>
                //chi tiet booking
                <div class="modal fade" id="invoiceDetailSelectionModal-@invoice.InvoiceId" tabindex="-1" role="dialog" aria-labelledby="invoiceDetailSelectionModal" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="invoiceDetailSelectionModalLabel">Thông tin hóa đơn</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- Form to choose available room -->
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <h5>Thông tin đặt phòng</h5>
                                        <input type="hidden" id="invoiceId" name="InvoiceId" value="@invoice.InvoiceId" hidden readonly />

                                        <label for="guestName">Họ Tên</label>
                                        <input class="form-control" type="text" id="guestName" name="GuestName" value="@invoice.GuestName" readonly />

                                        <label for="roomNumber">Số phòng</label>
                                        <input class="form-control" type="text" id="roomNumber" name="RoomNumber" value="@invoice.RoomNumber" readonly />

                                        <label for="invoiceStatus">Ngày checkin</label>
                                        <input class="form-control" type="date" id="invoiceStatus" name="InvoiceStatus" value="@(invoice.CheckinDate.HasValue ? invoice.CheckinDate.Value.ToString("yyyy-MM-dd") : string.Empty)" readonly />

                                        <label for="invoiceStatus">Ngày checkout</label>
                                        <input class="form-control" type="date" id="invoiceStatus" name="InvoiceStatus" value="@(invoice.CheckoutDate.HasValue ? invoice.CheckoutDate.Value.ToString("yyyy-MM-dd") : string.Empty)" readonly />

                                        <label for="invoiceStatus">Phí Phòng</label>
                                        <input class="form-control" type="text" id="invoiceStatus" name="InvoiceStatus" value="@((invoice.TotalBooking.HasValue ? invoice.TotalBooking.Value.ToString("N0") : ""))" readonly /> 

                                    </div>
                                    <div class="col-md-6">
                                        <h5>Dịch vụ đã sử dụng</h5>
                                        @foreach (var detail in invoice.InvoiceServiceViews)
                                        {
                                            <label for="serviceName">Dịch vụ</label>
                                            <input class="form-control" type="text" id="serviceName" name="ServiceName"
                                                   value="@detail.ServiceName.ServiceNameTranslate() - @detail.ServiceNumber - Giá: @detail.ServicePrice.ToString("N0") - Thành tiền: @detail.TotalServiceUsed.ToString("N0")" readonly />
                                        }

                                        <label for="totalServiceUsed">Phí Dịch vụ</label>
                                        <input class="form-control" type="text" id="totalServiceUsed" name="TotalServiceUsed" value="@((invoice.TotalServiceUsed.HasValue ? invoice.TotalServiceUsed.Value.ToString("N0") : ""))" readonly />

                                        <label for="totalPrice">Tổng hóa đơn</label>
                                        <input class="form-control" type="text" id="totalPrice" name="TotalPrice" value="@((invoice.TotalPrice.HasValue ? invoice.TotalPrice.Value.ToString("N0") : ""))" readonly />

                                        <label for="paymentTotal">Thanh Toán Online (nếu có)</label>
                                        <input class="form-control" type="text" id="paymentTotal" name="PaymentTotal" value="@((invoice.PaymentTotal.HasValue ? invoice.PaymentTotal.Value.ToString("N0") : ""))" readonly />

                                        <label for="remainingAmount">Số Tiền Còn Lại</label>
                                        <input class="form-control" type="text" id="remainingAmount" name="RemainingAmount" value="@((invoice.RemainingAmount.HasValue ? invoice.RemainingAmount.Value.ToString("N0") : ""))" readonly />

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    @if(@invoice.InvoiceStatus != InvoiceStatus.Paid)
                                    {
                                        <form method="post" asp-page-handler="UpdateInvoice">
                                            <input type="hidden" name="InvoiceId" value="@invoice.InvoiceId" hidden readonly />
                                            <button type="submit" class="btn btn-outline-success m-2 ml-3">Thanh toán</button>
                                        </form>
                                    }
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
}
